<ng-container [formGroup]="parentForm()">
  <div class="field" [class.field--error]="isInvalid('email')">
    <label class="field__label" for="email">Email</label>
    <input
      id="email"
      class="field__input"
      type="email"
      formControlName="email"
      placeholder="you@example.com"
      autocomplete="email"
    />
    @if (isInvalid('email')) {
      <span class="field__error">{{ getError('email') }}</span>
    }
  </div>

  <div class="field" [class.field--error]="isInvalid('password')">
    <label class="field__label" for="password">Password</label>
    <input
      id="password"
      class="field__input"
      type="password"
      formControlName="password"
      placeholder="••••••••"
      autocomplete="current-password"
    />
    @if (isInvalid('password')) {
      <span class="field__error">{{ getError('password') }}</span>
    }
  </div>
</ng-container>

