<ng-container [formGroup]="parentForm()">
  <app-field
    label="Email"
    [error]="isInvalid('email') ? getError('email') : null"
    [attr.data-error]="isInvalid('email') || null"
  >
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="you@example.com"
      autocomplete="email"
    />
  </app-field>

  <app-field
    label="Password"
    [error]="isInvalid('password') ? getError('password') : null"
    [attr.data-error]="isInvalid('password') || null"
  >
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="••••••••"
      autocomplete="current-password"
    />
  </app-field>
</ng-container>
