<div class="profile-view">
  <div class="avatar-wrap">
    @if (user().avatarUrl) {
      <img class="avatar" [src]="user().avatarUrl" [alt]="user().name" />
    } @else {
      <div class="avatar avatar--placeholder">
        {{ user().name.charAt(0).toUpperCase() }}
      </div>
    }
  </div>

  <div class="identity">
    <h1 class="name">{{ user().name }}</h1>
    <span class="role">{{ user().role[0] | lowercase }}</span>
  </div>

  <button class="edit-btn" (click)="editRequested.emit()">Edit profile</button>
</div>
